/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: Didot;
  src: url(../fonts/didot-italic.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: MaisonNeue;
  src: url(../fonts/MaisonNeue-Demi.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: MaisonNeue;
  src: url(../fonts/MaisonNeue-Book.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: MaisonNeue;
  src: url(../fonts/MaisonNeue-Light.woff) format("woff");
  font-weight: 300;
}

/* ==========================================================================
   General Styles
   ========================================================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: MaisonNeue, sans-serif;
  font-weight: 400;
  color: #222;
}

section {
  width: 100%;
}

img {
  width: 100%;
  border-radius: 2px;
}

.img-shadow-pink {
  box-shadow: 10px 10px #f4d9d5;
}

.container-xl {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .container-xl {
    padding: 0;
  }
}

.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .col-2 {
    flex-direction: row;
  }
}

.col {
  width: 90%;
}

@media (min-width: 900px) {
  .col {
    width: 50%;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: Didot, serif;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 15px;
  background-color: #f4d9d5;
  border-bottom: 2px solid #222;
  padding: 20px;
  border-radius: 2px;
  display: inline-block;
}

.title-xl {
  font-family: MaisonNeue, sans-serif;
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 15px;
  text-align: center;
  padding: 20px;
  line-height: 50px;
  border-radius: 2px;
  display: inline-block;
}

@media (min-width: 670px) {
  .title-xl {
    font-size: 55px;
    line-height: 64px;
  }
}

.spacer-vertical {
  margin: 100px auto;
}

.padding-vertical {
  padding: 100px 0;
}

.button {
  font-family: MaisonNeue, sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  background-color: #222;
  border-radius: 2px;
  border: 1px solid #222;
  cursor: pointer;
  font-size: 25px;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 200px;
}

.button-secondary {
  font-family: MaisonNeue, sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-decoration: none;
  color: #222;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #222;
  cursor: pointer;
  padding: 20px 0;
  text-align: center;
}

.button-spacer {
  margin-top: 35px;
}

.background-pink {
  background-color: #f4d9d5;
}

.divider {
  height: 1px;
  background-color: #e6e6e6;
  width: 100%;
}

.container-xl.divider-container {
  padding: 25px 0;
}

.spacer-bottom {
  margin-bottom: 175px;
}

.blackbar {
  background-color: #222;
  height: 15px;
  width: 100%;
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/thomas-thompson-8VEQTjRIUY0-unsplash.jpg");
  background-position: 75% 31%;
  width: 100%;
  height: calc(100vh - 15px);
}

.hero-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  max-width: 90%;
}

.hero .button,
.hero .button-secondary {
  width: 200px;
}

.logo {
  width: 500px;
  max-width: 100%;
}

/* ==========================================================================
   About Us
   ========================================================================== */

.about-us-body-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 15px;
  color: #222;
}

@media (min-width: 900px) {
  .about-us-body-text {
    padding-right: 75px;
  }
}

/* ==========================================================================
   Social
   ========================================================================== */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 900px) {
  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.button-container .button,
.button-container .button-secondary {
  margin: 10px 0px;
  width: 200px;
  text-align: center;
}

@media (min-width: 900px) {
  .button-container .button,
  .button-container .button-secondary {
    margin: 0 10px;
  }
}

/* ==========================================================================
   Royal Court
   ========================================================================== */

.royal-court-description {
  margin-top: 25px;
  line-height: 20px;
  font-size: 12px;
  color: #757575;
}

/* ==========================================================================
   Sponsors
   ========================================================================== */

.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border: 1px solid #e6e6e6;
  padding: 35px;
}

.sponsor-body-text {
  font-size: 22px;
  font-weight: 300;
  margin: 15px 20px 30px 20px;
  text-align: center;
  line-height: 30px;
}
